*{
    margin:0px;
    box-sizing: 0px;
}



body {background-color: #7790ff; display:flex;justify-content:center;align-items:center; overflow-y: hidden;}


.input {width: 100%; border: none; border-radius: 2px; padding: 10px 0px;margin:10px 0px}
.container{display: flex;flex-direction: column;align-items: center;max-width: 350px;background-color:rgba(255,255,200,0.3); padding:22px;border-radius:10px;height: 100vh}
.login{width: 100%;background-color: #6670af;padding:15px;color:white;border:none;margin-top:15px}
.login:hover{background-color: #117A65}
.login{
    transition: 0.5s;
}
.p{font-size:18px;text-align: center;font-weight: bold; color:white;margin-top: 5px;}
.pw{font-size:10px;text-align: center;font-weight: bold; color:white; margin-bottom: 15px;}
img{width: 80px; background-color: white; border-radius: 15px;padding: 12px;}
.img{display: flex; justify-content: center;}
.lembra{display: flex;width: 100%; flex-direction: row; justify-content: center;}